node_modules
**/node_modules
.next
**/.next
dist
**/dist
coverage
**/coverage
test-results
**/test-results
playwright-report
**/playwright-report
playwright-report-artifacts
**/playwright-report-artifacts
.env
**/.env
data.xlsx
logs
**/logs
